# Caddyfile for Marki-parse

# Redirect HTTP to HTTPS
http:// {
   redir https://{host}{uri}
}

# Serve the Parse Dashboard
parse-dashboard.marki-parse.localhost {
    reverse_proxy parse-dashboard:4040
}

# Serve the Parse Server
api.marki-parse.localhost {
    reverse_proxy parse-server:1337
}


dev.parse.markidiags.com {
    reverse_proxy parse-server:1337 
}

dev.parse.dashboard.markidiags.com {
    reverse_proxy 192.168.1.239:4040
}


dev.markidiags.com {
    # Handle WebSocket connections for Vite HMR
    reverse_proxy {
        to 192.168.1.239:5000
        transport http {
            websocket
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
        }
    }
    
    # Enable CORS
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    header Access-Control-Allow-Headers "Content-Type, Authorization"
}

dev.api.markidiags.com {
    reverse_proxy 192.168.1.239:3000  # Port par défaut pour Fastify (accès à l'hôte depuis Docker)
}

n8n.stedzstudio.com {
    reverse_proxy 192.168.1.239:5678
}
