version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: 
      MONGO_INITDB_ROOT_PASSWORD: 
    command: mongod --noauth

  parse-server:
    image: parseplatform/parse-server:latest
    container_name: parse-server
    restart: always
    ports:
      - "1337:1337"
    depends_on:
      - mongodb
    environment:
      PARSE_SERVER_APPLICATION_ID: "marki"
      PARSE_SERVER_REST_API_KEY: "Careless7-Gore4-Guileless0-Jogger5-Clubbed9"
      PARSE_SERVER_JAVASCRIPT_KEY: "Careless7-Gore4-Guileless0-Jogger5-Clubbed9"
      PARSE_SERVER_MOUNT_PATH: "/"
      PARSE_SERVER_URL: "https://dev.parse.markidiags.com/"
      PARSE_SERVER_ALLOW_CLIENT_CLASS_CREATION: "true"
      PARSE_SERVER_ENABLE_ANONYMOUS_USERS: "false"
      PARSE_SERVER_MASTER_KEY_IPS: "0.0.0.0/0,::0"
      PARSE_SERVER_LOG_LEVEL: "info"  # ou "verbose" pour plus de détails
      JSON_LOGS: "false"  # Désactive les logs au format JSON (plus lisible)
      VERBOSE: "true"  # Active le mode verbeux
      SILENT: "false"  # Désactive le mode silencieux
      PARSE_SERVER_DATABASE_URI: "mongodb://mongodb:27017/parse"
      PARSE_SERVER_MASTER_KEY: "Shaky4-Exception6"
      PARSE_SERVER_CLOUD: "/parse-server/cloud/main.js"
      PARSE_SERVER_PUBLIC_SERVER_URL: "https://dev.parse.markidiags.com"
      PARSE_SERVER_CORS_ALLOW_ORIGIN: "https://dev.markidiags.com,http://localhost:5000"
      PARSE_SERVER_CORS_ALLOW_METHODS: "GET,POST,PUT,DELETE"
      PARSE_SERVER_CORS_ALLOW_HEADERS: "Content-Type,Authorization"
      # Variables d'environnement pour PostgreSQL
      DB_HOST: "195.15.233.213"
      DB_PORT: "5432"
      DB_USER: "webadmin2"
      DB_PASSWORD: "Jury8-Deviate2-Droplet2-Ambush9-Unplowed1"
      DB_NAME: "adn_adti"
      # Variables d'environnement pour SFTP
      FTP_HOST: "serveur.adti06.com"
      FTP_PORT: "2222"
      FTP_USERNAME: "m.wegener"
      FTP_PASSWORD: "Pomme5-Compas6"
    volumes:
      - ./parse-server/cloud:/parse-server/cloud

  parse-dashboard:
    image: parseplatform/parse-dashboard:latest
    container_name: parse-dashboard
    restart: always
    ports:
      - "4040:4040"
    environment:
      PARSE_DASHBOARD_SERVER_URL: "https://dev.parse.markidiags.com/"
      PARSE_DASHBOARD_APP_ID: "marki"
      PARSE_DASHBOARD_MASTER_KEY: "Shaky4-Exception6"
      PARSE_DASHBOARD_USER_ID: "admin"
      PARSE_DASHBOARD_USER_PASSWORD: "admin"
      PARSE_DASHBOARD_ALLOW_INSECURE_HTTP: "1"

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./public:/usr/share/caddy
      - caddy_data:/data
      - caddy_config:/config

volumes:
  mongodb_data:
  caddy_data:
  caddy_config:

  
