---
// src/components/DrawerX.astro
---
<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.store('drawerX', {
      isOpen: false,
      data: null,
      toggle() {
        this.isOpen = !this.isOpen;
      },
      openWithData(data) {
        this.data = data;
        this.isOpen = true;
      },
      close() {
        this.isOpen = false;
      }
    });
    console.log('Store drawerX initialisé avec succès !');
  });
</script>

<div x-data>
  <div x-show="$store.drawerX.isOpen" @click.away="$store.drawerX.close()" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg">
      <h3 class="text-lg font-bold">DrawerX</h3>
      <template x-if="$store.drawerX.data">
        <p>Coucou <span x-text="$store.drawerX.data.firstname"></span>!</p>
      </template>
      <button @click="$store.drawerX.close()" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">Fermer</button>
    </div>
  </div>
</div>