{% extends "base-app.html" %} {% block title %}Impayés{% endblock %}
n{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/impayes-custom.css') }}">
    <script src="{{ url_for('static', filename='js/alpines/impayesState.js') }}"></script>
{% endblock %}
%} {% block content %}
<div x-data="impayesState" class="min-height-screen">
    <!-- Header -->
    <div class="box mb-4">
        <div class="level">
            <div class="level-left">
                <div>
                    <h1 class="title is-3">
                        Impayés
                    </h1>
                    <p class="subtitle is-6">
                        <span x-text="impayes.length"></span> facture(s)
                        impayée(s)
                    </p>
                </div>
            </div>
            <div class="level-right">
                <button
                    @click="refreshData()"
                    :disabled="isLoading"
                    class="button is-link"
                >
                    <i
                        x-show="!isLoading"
                        class="fa-regular fa-sync mr-2"
                    ></i>
                    <i
                        x-show="isLoading"
                        class="fa-regular fa-spinner fa-spin mr-2"
                    ></i>
                    Actualiser
                </button>
            </div>
        </div>
    </div>

    <!-- Filtres -->
    <div class="box mb-4">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Recherche</label>
                    <div class="control">
                        <input
                            type="text"
                            x-model="searchTerm"
                            @input="filterImpayes()"
                            placeholder="Rechercher par payeur, référence, montant..."
                            class="input"
                        />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Payeur</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select
                                x-model="selectedPayeur"
                                @change="filterImpayes()"
                            >
                                <option value="">Tous les payeurs</option>
                                <template x-for="payeur in payeurs" :key="payeur">
                                    <option :value="payeur" x-text="payeur"></option>
                                </template>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Trier par</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select
                                x-model="sortBy"
                                @change="sortImpayes()"
                            >
                                <option value="datepiece">Date de facture</option>
                                <option value="delais">Délais (jours)</option>
                                <option value="totalttcnet">Montant TTC</option>
                                <option value="payeur_nom">Payeur</option>
                                <option value="refpiece">Référence</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenu principal -->
    <div class="container">
        <!-- Message de chargement -->
        <div x-show="isLoading" class="has-text-centered py-6">
            <div class="loader is-large"></div>
        </div>

        <!-- Message d'erreur -->
        <div
            x-show="error"
            class="notification is-danger mb-6"
        >
            <div class="media">
                <div class="media-left">
                    <i class="fa-regular fa-ban"></i>
                </div>
                <div class="media-content">
                    <p class="is-size-6" x-text="error"></p>
                </div>
            </div>
        </div>

        <!-- Liste des impayés groupés par payeur -->
        <div x-show="!isLoading && !error">
            <template x-for="(group, payeur) in groupedImpayes" :key="payeur">
                <div class="box mb-6">
                    <!-- Header du payeur -->
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <div class="has-background-primary-light is-flex is-justify-content-center is-align-items-center" style="width: 48px; height: 48px; border-radius: 50%;">
                                                <i
                                                    :class="group[0].payeur_typePersonne === 'P' ? 'fa-regular fa-user' : 'fa-regular fa-building'"
                                                    class="has-text-primary"
                                                ></i>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-5" x-text="payeur"></p>
                                        <p class="subtitle is-6">
                                            <span x-text="group.length"></span>
                                            facture(s) - Total:
                                            <span
                                                x-text="formatCurrency(group.reduce((sum, imp) => sum + (imp.totalttcnet || 0), 0))"
                                            ></span>
                                        </p>
                                        <p
                                            class="has-text-warning"
                                            x-show="calculateMaxDaysLate(group) > 0"
                                        >
                                            <i class="fa-regular fa-exclamation-triangle mr-1"></i>
                                            Retard max:
                                            <span
                                                x-text="calculateMaxDaysLate(group)"
                                            ></span>
                                            jour(s)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="level-right">
                            <button
                                @click="togglePayeur(payeur)"
                                class="button is-white"
                            >
                                <i
                                    :class="{'fa-chevron-up': expandedPayeurs.includes(payeur), 'fa-chevron-down': !expandedPayeurs.includes(payeur)}"
                                    class="fa-regular"
                                ></i>
                            </button>
                        </div>
                    </div>

                    <!-- Liste des factures du payeur -->
                    <div x-show="expandedPayeurs.includes(payeur)" x-transition>
                        <div class="content">
                            <template
                                x-for="impaye in group"
                                :key="impaye.objectId"
                            >
                                <div class="box mb-4">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <span
                                                            class="tag"
                                                            :class="impaye.facturesoldee ? 'is-success' : 'is-danger'"
                                                        >
                                                            <span
                                                                x-text="impaye.facturesoldee ? 'Soldée' : 'Impayée'"
                                                            ></span>
                                                        </span>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="is-size-5" x-text="impaye.refpiece"></p>
                                                        <p class="is-size-6">
                                                            N°
                                                            <span
                                                                x-text="impaye.nfacture"
                                                            ></span>
                                                            -
                                                            <span
                                                                x-text="formatDate(impaye.datepiece)"
                                                            ></span>
                                                        </p>
                                                        <p class="is-size-7">
                                                            <i class="fa-regular fa-location-dot mr-1"></i>
                                                            <span
                                                                x-text="(impaye.numVoie || '') + ' ' + (impaye.typeVoie || '') + ' ' + (impaye.cptNumVoie || '') + ' ' + (impaye.adresse || '') + ', ' + (impaye.codepostal || '') + ' ' + (impaye.ville || '')"
                                                            ></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <p class="title is-5" x-text="formatCurrency(impaye.totalttcnet)"></p>
                                                <p class="subtitle is-6">
                                                    Reste:
                                                    <span
                                                        x-text="formatCurrency(impaye.resteapayer)"
                                                    ></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Actions -->
                                    <div class="level mt-3">
                                        <div class="level-left">
                                            <div class="buttons">
                                                <button
                                                    x-show="impaye.invoice_url"
                                                    @click="openInvoice(impaye.invoice_url)"
                                                    class="button is-small is-info"
                                                >
                                                    <i class="fa-regular fa-eye mr-1"></i>
                                                    Voir la facture
                                                </button>
                                                <button
                                                    @click="openDetails(impaye)"
                                                    class="button is-small is-link"
                                                >
                                                    Détails
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <!-- Message si aucun résultat -->
        <div
            x-show="!isLoading && !error && filteredImpayes.length === 0"
            class="has-text-centered py-6"
        >
            <i class="fa-regular fa-file-invoice-dollar is-size-1 has-text-grey-light"></i>
            <h3 class="title is-5">
                Aucun impayé trouvé
            </h3>
            <p class="subtitle is-6">
                Aucune facture impayée ne correspond à vos critères de
                recherche.
            </p>
        </div>
    </div>

    <!-- Drawer pour afficher les détails d'une facture -->
    <div
        x-show="isDetailsDrawerOpen"
        class="modal is-active"
    >
        <!-- Overlay -->
        <div
            @click="closeDetailsDrawer()"
            class="modal-background"
        ></div>

        <!-- Drawer -->
        <div
            class="modal-card"
            style="width: 80%; max-width: 800px; margin: 0 auto;"
        >
            <header class="modal-card-head">
                <p class="modal-card-title">
                    Détails de la facture
                </p>
                <button
                    @click="closeDetailsDrawer()"
                    class="delete"
                    aria-label="close"
                ></button>
            </header>

            <!-- Content -->
            <section class="modal-card-body">
                <div
                    x-show="!selectedImpayeForDetails"
                    class="has-text-centered py-6"
                >
                    <p class="has-text-grey">Aucune facture sélectionnée</p>
                </div>

                <div x-show="selectedImpayeForDetails" class="content">
                    <!-- Informations principales -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Informations principales
                        </h3>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Numéro de facture
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.nfacture || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Référence pièce
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.refpiece || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Date de facture
                                </p>
                                <p class="is-size-5" x-text="formatDate(selectedImpayeForDetails?.datepiece)"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Date de création
                                </p>
                                <p class="is-size-5" x-text="formatDate(selectedImpayeForDetails?.datecre)"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Date d'intervention
                                </p>
                                <p class="is-size-5" x-text="formatDate(selectedImpayeForDetails?.dateDebutMission)"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Statut
                                </p>
                                <span
                                    class="tag"
                                    :class="selectedImpayeForDetails?.facturesoldee ? 'is-success' : 'is-danger'"
                                >
                                    <span
                                        x-text="selectedImpayeForDetails?.facturesoldee ? 'Soldée' : 'Impayée'"
                                    ></span>
                                </span>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    ID Dossier
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.idDossier || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Référence dossier
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.reference || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Numéro dossier
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.numero || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Statut dossier
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.statut_intitule || 'N/A'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Montants -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Montants
                        </h3>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Total HT
                                </p>
                                <p class="is-size-5" x-text="formatCurrency(selectedImpayeForDetails?.totalhtnet)"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Total TTC
                                </p>
                                <p class="is-size-5" x-text="formatCurrency(selectedImpayeForDetails?.totalttcnet)"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Reste à payer
                                </p>
                                <p class="is-size-5 has-text-danger" x-text="formatCurrency(selectedImpayeForDetails?.resteapayer)"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Adresse du chantier -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Adresse du chantier
                        </h3>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Adresse
                                </p>
                                <p class="is-size-5" x-text="(selectedImpayeForDetails?.numVoie || '') + ' ' + (selectedImpayeForDetails?.typeVoie || '') + ' ' + (selectedImpayeForDetails?.cptNumVoie || '') + ' ' + (selectedImpayeForDetails?.adresse || '')"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Complément
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.cptAdresse || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Code postal
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.codePostal || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Ville
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.ville || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Lot
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.numeroLot || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Étage
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.etage || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Entrée
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.entree || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Escalier
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.escalier || 'N/A'"></p>
                            </div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-grey">
                                    Porte
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.porte || 'N/A'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Payeur -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Payeur
                        </h3>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Nom du payeur
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.payeur_nom || 'N/A'"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Type de personne
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.payeur_typePersonne === 'P' ? 'Particulier' : 'Professionnel'"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Email
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.payeur_email || 'N/A'"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Téléphone
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.payeur_telephone || 'N/A'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Intervention -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Intervention
                        </h3>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Employé intervention
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.employe_intervention || 'N/A'"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    ID Employé
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.idEmployeIntervention || 'N/A'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Commentaires -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Commentaires
                        </h3>
                        <div class="content">
                            <div class="mb-4">
                                <p class="is-size-7 has-text-grey mb-2">
                                    Commentaire pièce
                                </p>
                                <p x-text="selectedImpayeForDetails?.commentaire_piece || 'Aucun commentaire'"></p>
                            </div>
                            <div>
                                <p class="is-size-7 has-text-grey mb-2">
                                    Commentaire dossier
                                </p>
                                <p x-text="selectedImpayeForDetails?.commentaire_dossier || 'Aucun commentaire'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="box mb-4">
                        <h3 class="title is-5">
                            Contact
                        </h3>
                        <div class="columns">
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Contact désigné
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.contactPlace || 'N/A'"></p>
                            </div>
                            <div class="column">
                                <p class="is-size-7 has-text-grey">
                                    Référence externe
                                </p>
                                <p class="is-size-5" x-text="selectedImpayeForDetails?.referenceExterne || 'N/A'"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="buttons is-right mt-4">
                        <button
                            x-show="selectedImpayeForDetails?.invoice_url"
                            @click="closeDetailsDrawer(); openInvoice(selectedImpayeForDetails?.invoice_url)"
                            class="button is-link"
                        >
                            <i class="fa-regular fa-eye mr-2"></i>
                            Voir la facture
                        </button>
                        <button
                            @click="closeDetailsDrawer()"
                            class="button is-light"
                        >
                            <i class="fa-regular fa-times mr-2"></i>
                            Fermer
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Drawer pour afficher les factures PDF -->
    <div
        x-show="isInvoiceDrawerOpen"
        class="modal is-active"
    >
        <!-- Overlay -->
        <div
            @click="closeInvoiceDrawer()"
            class="modal-background"
        ></div>

        <!-- Drawer -->
        <div
            class="modal-card"
            style="width: 80%; max-width: 900px; margin: 0 auto;"
        >
            <header class="modal-card-head">
                <p class="modal-card-title" x-text="invoiceDrawerTitle"></p>
                <button
                    @click="closeInvoiceDrawer()"
                    class="delete"
                    aria-label="close"
                ></button>
            </header>

            <!-- Content -->
            <section class="modal-card-body">
                <!-- Message de chargement -->
                <div
                    x-show="invoiceDrawerLoading"
                    class="has-text-centered py-6"
                >
                    <div class="loader is-large"></div>
                    <p class="has-text-grey">Chargement de la facture...</p>
                </div>

                <!-- Message d'erreur -->
                <div
                    x-show="invoiceDrawerError"
                    class="notification is-danger mb-6"
                >
                    <div class="media">
                        <div class="media-left">
                            <i class="fa-regular fa-ban"></i>
                        </div>
                        <div class="media-content">
                            <p class="is-size-6" x-text="invoiceDrawerError"></p>
                        </div>
                    </div>
                </div>

                <!-- Affichage du PDF -->
                <div x-show="invoiceDrawerPdfContent" class="has-text-centered">
                    <object
                        x-bind:data="'data:application/pdf;base64,' + invoiceDrawerPdfContent"
                        type="application/pdf"
                        class="pdf-viewer"
                        style="width: 100%; height: 600px;"
                    >
                        <p class="has-text-centered py-6">
                            Votre navigateur ne supporte pas l'affichage des
                            PDF.
                            <a
                                x-bind:href="'data:application/pdf;base64,' + invoiceDrawerPdfContent"
                                x-bind:download="invoiceDrawerFilename"
                                class="has-text-primary"
                            >
                                Cliquez ici pour télécharger la facture
                            </a>
                        </p>
                    </object>
                </div>

                <!-- Message si aucun PDF -->
                <div
                    x-show="!invoiceDrawerLoading && !invoiceDrawerError && !invoiceDrawerPdfContent"
                    class="has-text-centered py-6"
                >
                    <i class="fa-regular fa-file is-size-1 has-text-grey-light"></i>
                    <h3 class="title is-5">
                        Aucune facture disponible
                    </h3>
                    <p class="subtitle is-6">
                        Aucun contenu de facture à afficher.
                    </p>
                </div>
            </section>

            <!-- Footer avec bouton de téléchargement -->
            <footer class="modal-card-foot">
                <button
                    x-show="invoiceDrawerPdfContent"
                    x-bind:disabled="!invoiceDrawerPdfContent"
                    @click="() => {
                        const link = document.createElement('a');
                        link.href = 'data:application/pdf;base64,' + invoiceDrawerPdfContent;
                        link.download = invoiceDrawerFilename;
                        link.click();
                    }"
                    class="button is-link"
                >
                    <i class="fa-regular fa-download mr-2"></i>
                    Télécharger la facture
                </button>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
